@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Concert+One&family=Protest+Strike&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    background-color: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    background-color: #99ccff;
}
nav img{
    width: 80px;
}
.nav-bar{
    display: flex;
    gap: 25px;
}
.nav-bar a{
    font-family: "Ubuntu";
}

main h1{
    font-family: "Concert One";
    font-size: 25px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.container img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin-right: 1rem;
    
}
.container p{
    text-align: justify;
    margin-left: 1rem;
    margin-right: 4rem;
    font-family: "Ubuntu";
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 3rem auto;
    padding: 10px
  }
  
  /* Make the images invisible by default */
  .Containers {
    display: none;
  }
  
  /* forward & Back buttons */
  .Back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }
  
  /* Place the "forward button" to the right */
  .forward {
    right: 0;
    border-radius: 4px 0 0 4px;
  }
  
  /*when the user hovers,add a black background with some little opacity */
  .Back:hover, .forward:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption Info */
  .info {
    color: #e3e3e3;
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  /* Content */
  .info {
    color: #f2f2f3;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
  }
  
  /* The circles or bullets indicators */
  .dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background: linear-gradient(92.18deg, #a049e9 -25.78%, #6643db 123.02%);
    opacity: 0.3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }
  
  .enable, .dots:hover {
    background: linear-gradient(92.18deg, #a049e9 -25.78%, #6643db 123.02%);
    opacity: 1;
  }
  
  /* Faint animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }

.akhir{
    text-align: center;
    margin-top: 3rem;
    background-color: #99ccff;
    padding: 10px;
}
.akhir p{
    font-family: "Ubuntu";
}